.side-margin {
  padding-right: 215px;
  padding-left: 215px;
  padding-top: 3em;
  padding-bottom: 3em;
}
.section-height {
  height: 500px;
}
body {
  font-family: 'Open Sans';
}
.banner-jumbotron {
  height: 500px;
  background-image: url(../background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 10em;
  margin-bottom: 0;
}
.banner-jumbotron p {
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.navbar-container {
  padding-right: 215px;
  padding-left: 215px;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1.5em;
  color: #000000;
}
.navbar-container .navbar-nav > li > a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: #000000;
}
.navbar-container .navbar-nav > li > a:hover {
  cursor: pointer;
  color: #2980b9;
}
.navbar-container .navbar-nav > li > .selected {
  color: #2980b9;
}
.navbar-container #home-link {
  font-size: 1.5em;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: #000000;
}
.navbar-container #home-link:hover {
  cursor: pointer;
  color: #2980b9;
}
.navbar-container .selected {
  color: #2980b9 !important;
}
#picture-section #my-pic {
  height: 250px;
  width: 308px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  float: right;
}
#picture-section #my-desc {
  height: 250px;
  width: 400px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: left;
  font-size: 2em;
}
.section-container {
  height: 500px;
  padding-right: 215px;
  padding-left: 215px;
  padding-top: 3em;
  padding-bottom: 3em;
}
.section-container h1 {
  text-align: center;
  margin-bottom: 2em;
  color: #000000;
}
.section-container .selected {
  color: #2980b9;
}
.section-container .left-col {
  padding-right: 5%;
}
.section-container .right-col {
  padding-left: 5%;
}
#skill-section {
  background-color: #ddd;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}
.skillbar #java-label {
  background: #d35400;
}
.skillbar #java-bar {
  background: #ff883a;
}
.skillbar #css-label {
  background: #2980b9;
}
.skillbar #css-bar {
  background: #6ab0de;
}
.skillbar #js-label {
  background: #2c3e50;
}
.skillbar #js-bar {
  background: #507192;
}
.skillbar #db-label {
  background: #27ae60;
}
.skillbar #db-bar {
  background: #60db94;
}
.skillbar #py-label {
  background: #46465e;
}
.skillbar #py-bar {
  background: #737397;
}
.skillbar:hover {
  cursor: pointer;
}
.skillbar-label {
  background: #ffffff;
  margin-bottom: 2em;
}
.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}
#project-section {
  height: auto;
}
#project-section img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 225px;
  width: 225px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#project-section #wm-img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#project-section .p-header {
  text-align: center;
  font-size: 2em;
}
#project-section p {
  font-size: 1.25em;
}
#project-section .row {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 1em;
}
#project-section .row:hover {
  background: #ddd;
  cursor: pointer;
}
#contact-section {
  background-image: url(../contact.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  height: auto;
}
#contact-section h1 {
  margin-bottom: 1em;
}
#contact-section a {
  height: 3em;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 3em;
}
#contact-section a img {
  height: 3em;
  width: 3em;
}
