.turq {
  color: #6cc0e5;
}
.light {
  font-family: HelveticaNeue-Light;
}
.down-arrow {
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 2.5em;
  width: 2.5em;
  margin-top: 4em;
  opacity: 0.8;
}
.down-arrow:hover {
  opacity: 1;
  cursor: pointer;
}
.side-margin {
  padding-right: 28%;
  padding-left: 28%;
  padding-top: 3em;
}
.nav-side-margin {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 3em;
}
body {
  font-family: 'Open Sans';
  background-image: url(../denim.png);
  background-repeat: repeat;
  background-position: center bottom;
}
#about-section {
  height: 300px;
  margin-bottom: 0;
}
#about-section p {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
  vertical-align: middle;
  color: #ffffff;
  font-family: HelveticaNeue-UltraLight;
}
#about-section p.name {
  font-family: HelveticaNeue-Light;
  letter-spacing: 5px;
  font-size: 4.5em;
}
.navbar-default {
  border: none;
}
#picture-section {
  padding-top: 0em;
  margin: 0 auto;
}
#picture-section #my-desc {
  background-color: #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em 1.5em;
}
#picture-section #my-desc .hi {
  font-family: HelveticaNeue-Medium;
  color: #6cc0e5;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 1.2em;
}
#picture-section #my-desc p {
  font-size: 0.7em;
  font-family: HelveticaNeue-Light;
  color: #ffffff;
}
.section-container {
  padding-right: 28%;
  padding-left: 28%;
  padding-top: 3em;
  position: relative;
}
.section-container h1 {
  text-align: center;
  margin-bottom: 1em;
  color: #6cc0e5;
}
.section-container .selected {
  color: #000000;
}
.section-container .left-col {
  padding-right: 5%;
}
.section-container .right-col {
  padding-left: 5%;
}
#contact-section {
  text-align: center;
}
#contact-section h1 {
  margin-bottom: 1em;
  color: #ffffff;
  text-align: middle;
  font-family: HelveticaNeue-Medium;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 2em;
}
#contact-section a {
  height: 5em;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 5em;
  color: #ffffff;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  transition: color 1s ease-in;
}
#contact-section a a:hover {
  color: #6cc0e5;
}
#contact-section a img {
  height: 5em;
  width: 5em;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('HelveticaNeue-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('HelveticaNeue-Medium.otf') format('opentype'), url('HelveticaNeue-Medium.ttf') format('truetype'), url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('HelveticaNeue-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('HelveticaNeue-Light.otf') format('opentype'), url('HelveticaNeue-Light.ttf') format('truetype'), url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('HelveticaNeue-UltraLight.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('HelveticaNeue-UltraLight.otf') format('opentype'), url('HelveticaNeue-UltraLight.ttf') format('truetype'), url('HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
